<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Azure Storage: nojes -->
        <add key="nojes_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=nojes;AccountKey=BPfyvtpVmaG7Gkm/fPER+CxOA/HVueEjBiYPdWJegZarMPe+zW2tHfROjDQy8j391I104rlrmJU/rnd5NlaPGw==" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
